/* haces colores genrales y los aplicas al codigo */
:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: rgb(100, 98, 89);
    --secundario: #2b818a;
    --gris: #757575;
}

html {
    font-size: 62.5%; /* hace que el formulario sea responsive */
    box-sizing: border-box;
    z-index: 1;
}


/* hace que los tamaños de las cosas queden facil de modificar */
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    background-image: linear-gradient(to top, rgb(218, 218, 218) 0%, var(--blanco) 100%);
}

h1 {
    font-size: 3.8rem; /* hace el formulario responsive */
      /* 1rem = 10px */
      color: var(--blanco);
      font-family: Ysabeau SC;  
}

h2 {
    font-size: 2rem;
    font-family: Ysabeau SC; 
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

header {
    z-index: 1;
    width: 100%;
}

/* uso el contenedor en parte del html y les aplico estas caracteristicas */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/* boton de "contactar" */
.boton {
      background-color: var(--primario);
      color: var(--blanco);
      padding: 1rem 3rem;
      margin-top: 1rem;
      font-size: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: .5rem;
      width: 90%;
      text-align: center;
      border: none;
      font-family:monospace
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

/* sombra para la parte de "mis servicios", se saca de cssmatic */
.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* barra de mas arriba */
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-1 {
    display: flex;
    flex-direction: column;
    height: 80px;
}

@media (min-width: 768px) {
    .navegacion-1 {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-1 a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    font-family: Ysabeau SC;
    padding: .5rem;
    align-items: center;
    display: flex;
}

/* sombre en los botones de la barra de mas arriba */
.navegacion-1 a:hover {
    background-color: var(--gris);
    color: var(--oscuro);
}

.freelancer {
    background-image: url(img/descarga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-freelancer {
    position: absolute;
    /* background-color: rgba(0, 0, 0, .5); */
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 450px;
    top: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-freelancer h2,
.contenido-freelancer p {
    color: var(--blanco);
}

/* el media se usa para hacer responsive el codigo */
@media (min-width: 768px) {
.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1fr = una fraccion del total */ 
    font-family: monospace;
}
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--primario);
    font-weight: normal;
    text-align: center;
}

.servicio p {
    line-height: 2;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: beige;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* formulario de contacto */
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%); /* utlizar el valor mas pequeño por mas que se cambie el tamaño de la ventana */
    margin: 0 auto; /* es lo mejor para centrar formulario y no tengas display-flex */
    padding: 2rem;
    border-radius: 1rem;

}

.formulario fieldset {
    border: none;
}

.formulario legend {
    color: var(--blanco);
    font-family: monospace;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    font-family: monospace;
}

.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.enviar .boton {
    width: 100%;
}



/* utilizades generales */ 
.w-sm-100 {
    width: 100%;
    cursor: pointer;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

.footer {
    text-align: center;
    font-family: Ysabeau SC;
}

/* Estilo base para el botón y el dropdown */
.dropdown {
    position: relative;
    display: flex;
    font-family: Ysabeau SC;
    align-items: center;
    text-decoration: none;
    color: var(--blanco);
}

/* Estilo del botón */
.dropbtn {
    padding: 10px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background-color: var(--secundario);
    color: var(--blanco);
}

/* Estilo del contenido del dropdown (inicialmente oculto) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0, 2);
    z-index: 1;
}

/* Estilo de los enlaces dentro del dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambia el color del enlace cuando se pasa el ratón por encima */
.dropdown-content a:hover {
    background-color: var(--gris);
}

/* Muestra el dropdown cuando se pasa el ratón por encima del botón */
.dropdown:hover .dropdown-content {
    display: block;
}
