:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: rgb(135, 130, 115);
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.titulo {
    text-align: center;
    font-size: 3.8rem; /* 1rem = 10px */
    color: var(--primario);
    font-family: Ysabeau SC;  
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-1 {
    display: flex;
    flex-direction: column;
    
}

@media (min-width: 768px) {
    .navegacion-1 {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-1 a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    font-family: Ysabeau SC;
    padding: 1rem;
}

.navegacion-1 a:hover {
    background-color: var(--gris);
    color: var(--oscuro);
}

.freelancer {
    background-image: url(imagenes/descarga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}